

.top-app-bar {
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  background-color: #212121;
  height: 112px;
}

.top-app-bar-row {
  height: 72px;
}

.top-app-bar-title {
  display: flex;
  padding-left: 10px;
}

.top-app-bar-section {
  padding: 0 12px;
}

@media screen and (min-width: 921px) {
  .top-app-bar {
    height: auto;
  }
}
