
.top-app-bar-title {
  padding-left: 10px;
}

.top-app-bar {
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  background-color: #212121;
}

.top-app-bar-row {
  height: auto;
}

.top-app-bar-section {
  padding: 0 12px;
}
